@charset "UTF-8";

@media screen and (min-width: 1024px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }

  main { 
    flex-direction: row-reverse;
    display: flex;
    width: 950px;
    height: 350px;
  }

  div#imagem {
      border-radius: 0px 20px 20px 0px;
      width: 94%;
      height: 100%;
  }

  div#formulario h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: xx-large;
  }

  div#formulario p {
    padding-bottom: 20px;
    font-size: medium;
  }
}