@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82

    URL completa: 
    https://professorguanabara.github.io/projeto-login/
*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #5f2c82;
    width: 100%;
    height: 100%;
    margin: auto;
}

main {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.295);
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    width: 250px;
    height: 520px;
    border-radius: 20px;
}

img#imagem {
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

div#formulario {
    font-family: Arial, Helvetica, sans-serif;
}

div#formulario h1 {
    text-align: center;
    padding: 10px 0px;
    font-size: x-large;
}

div#formulario p {
    padding: 0px 10px;
    font-size: small; 
}

form div.login {
    background-color: #5f2c82;
    height: 40px;
    margin: 5px 10px;
    text-align: right; 
    border-radius: 5px;
}

form div.login span {
    color: white;    
    vertical-align: middle;
    padding-right: 7.5px;
}

form div.login input {
    height: 34px;
    width: 175px;
    margin-top: 2.5px;
    margin-bottom: 5px;
    margin-right: 3px;
    padding-left: 5px;
    font-size: medium;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(161, 199, 255);
}

form div#entrar input {
    background-color: rgb(68, 167, 180);
    height: 40px;
    width: 230px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.199);
}

form div#entrar input:hover {
    background-color: rgb(60, 111, 117);
}

form div#recuperacao input {
    height: 40px;
    width: 230px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(64, 126, 134);
    color: rgb(64, 126, 134);
    font-size: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.199);
}

form div#recuperacao input:hover {
    background-color: rgb(112, 212, 223);
}
